[submodule "Prueba-Tecnica-Rick-and-Morty-Frontend"]
	path = Prueba-Tecnica-Rick-and-Morty-Frontend
	url = https://github.com/JHurtadoS/Prueba-Tecnica-Rick-and-Morty-Frontend.git
[submodule "Prueba-Tecnica-Rick-and-Morty-Back"]
	path = Prueba-Tecnica-Rick-and-Morty-Back
	url = https://github.com/JHurtadoS/Prueba-Tecnica-Rick-and-Morty-Back.git
